/*==============================
	Common styles
==============================*/

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins'!important;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    transition: 0.4s ease;
    cursor: pointer;
}

button:focus {
    outline: none;
}

a {
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    transition: 0.4s ease;
}

a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
}

input, textarea, select {
    padding: 0;
    margin: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

::-moz-selection {
    background: #fff;
    color: #000;
    text-shadow: none;
}

::selection {
    background: #fff;
    color: #000;
    text-shadow: none;
}

::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}

::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}

:-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}

:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.fade {
    -webkit-transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
}

@media screen and (prefers-reduced-motion: reduce) {
    .fade {
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
    }
}

.fade:not(.show) {
    opacity: 0;
}

.collapse:not(.show) {
    display: none;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.4s ease;
    -moz-transition: height 0.4s ease;
    transition: height 0.4s ease;
}

@media screen and (prefers-reduced-motion: reduce) {
    .collapsing {
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
    }
}

/* 
.b-description_readmore_button {
    cursor: pointer;
    display: block;
    height: 24px;
    width: 100%;
    position: relative;
} */

/* .b-description_readmore_button:before {
    content: '\f1c8';
    font-family: "Ionicons";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    font-size: 22px;
    line-height: 24px;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    transition: 0.4s ease;
} */

/* .b-description_readmore_button:hover:before, .b-description_readmore_button.b-description_readmore_button_active:before {
    color: #ff55a5;
} */

/* .body:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(43, 43, 49, 0.75);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    transition: 0.4s ease;
} */

/* .body--active:before {
    z-index: 99;
    opacity: 1;
    pointer-events: auto;
} */

/*==============================
	Fonts
==============================*/

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Light.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

/*==============================
	Colors
==============================*/

.color-1 {
    color: #F5F7FF;
}

.color-3 {
    color: #0156FF;
}

.color-5 {
    color: #8C8C8C;
}

.color-6 {
    color: #CCCCCC;
}

/*==============================
	Shadow
==============================*/

.shadow1 {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
}

/*==============================
	Hovers
==============================*/

.hover1 {}

/*==============================
	Custom design
==============================*/

@media only screen and (min-width: 992px) {
    .px-lg-100 {
        padding: 0px 100px !important;
    }
}

.h-initial {
    height: initial !important;
}

.flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.link-underline {
    display: inline-block;
    position: relative;
}

.link-underline::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 1px;
    width: 100%;
    background-color: #fff;
}

.dropdown-arrow {
    position: relative;
}

.dropdown-arrow::after {
    content: url(../icons/arrow-down.svg);
    position: absolute;
    top: -2px;
    right: -10px;
    width: 4px;
    height: 6px;
}

.user-avatar {
    width: 36px;
    height: 36px;
    position: relative;
}

.user-avatar img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

/*==============================
	Shopping Card
==============================*/

.shopping-card {
    position: relative;
}

.shopping-card__badge {
    display: inline-block;
    text-align: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #fff;
    background-color: #0156FF;
    position: absolute;
    bottom: 14px;
    right: -8px;
    font-size: 10px;
}

.shopping-card .shopping-card__badge_mobile {
    display: inline-block;
    text-align: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    bottom: 15px;
    right: -8px;
    font-size: 10px;
}

/*==============================
	Input
==============================*/

::placeholder {
    /* color-6 */
    color: #CCCCCC;
    font-size: 11px;
}

.search-input {
    position: relative;
    display: flex;
    width: 100%;
    border-radius: 25px;
    background-color: #fff;
    padding: 0px 15px;
    margin-left: 5px;
}

.search-input input[type='text'] {
    width: 100%;
    border: 0;
    background-color: transparent;
    padding: 11px 0px;
}

/*==============================
	Button
==============================*/

.search-input button[type='submit'] {
    margin-right: 8px;
}

.btn-custom-outline {
    border: 2px solid;
    padding: 5px 13px !important;
    border-radius: 50px;
    font-size: 11px;
    margin-left: 5px;
}

.btn-custom-outline.color-3 {
    color: #0156FF;
}

@media only screen and (min-width: 1200px) {
    .btn-custom-outline {
        border: 2px solid;
        padding: 6px 23px !important;
        font-size: 12px;
        line-height: 21px;
    }
}

/*==============================
	Header
==============================*/

.header .header-top {
    background-color: #020202;
    z-index: 101;
    font-size: 11px;
    padding: 11px 0px;
}

.header__mobile-logo {
    width: 50px;
}

.header__mobile-logo .wrapper {
    position: absolute;
    top: -5px;
    width: 55px;
    height: 60px;
    border-radius: 50%;
    background-color: #0156ff;
}

.header__mobile-logo .wrapper img {
    position: absolute;
    width: 18px;
    height: 23px;
    top: 10px;
    left: 18px;
}

.header__working-hours {
    height: 100%;
    display: flex;
    align-items: center;
}

.header__working-hours span {
    margin-left: 5px;
}

.header__address {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 2px;
}

.header__address .content {
    margin-right: 5px;
}

.header__contact {
    text-align: right;
}

.header__contact ul.socials {
    display: inline-block;
}

.header__contact ul.socials li {
    display: inline;
    font-size: 15px;
    margin-left: 10px;
}

/* header main */

.header .header-main {
    z-index: 101;
    font-size: 11px;
    position: relative;
}

.header .header-main::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #CCCCCC;
}

.header-logo_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo {
    width: 33px;
    height: 40px;
}

.header-logo img {
    width: 100%;
    object-fit: cover;
}

.header-nav {
    height: 100%;
}

.header-nav ul {
    font-weight: bold;
    font-size: 11px;
}

.header-nav ul li {
    display: inline-block;
}

.header-nav ul li a {
    color: #000000;
    padding: 31px 5px;
    display: inline-block;
}

.header-tools {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-tools ul li {
    display: inline-block;
    margin-right: 25px;
}

.header__user-avatar {
    margin-left: 5px;
}

/* header__mobile start */

.header .header-main .header__mobile {
    padding: 13px 0px;
    background-color: #0156FF;
}

ul.header__mobile__icons {
    display: flex;
    align-items: center;
    justify-self: flex-end;
}

ul.header__mobile__icons li {
    display: inline-block;
    margin-left: 15px;
}

.mobile__nav_btn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

/* header__mobile end*/

@media (max-width: 320px) {
    .header .header-top {
        font-size: 9px;
    }
}

/* desktop */

@media only screen and (min-width: 1200px) {
    .header .header-top {
        font-size: 12px;
        padding: 11px 0px;
    }
    .header .header-main {
        padding: 6px 0px;
    }
    .header__address {
        justify-content: flex-start;
    }
    .header-nav ul {
        font-size: 12px;
    }
    .header-nav ul li a {
        padding: 31px 9px;
    }
}

/*==============================
	Home Slider
==============================*/

section#home-slider {
    padding-top: 12px;
    padding-bottom: 12px;
}

.home__slider_wrapper {
    width: 100%;
    height: 82px;
}

.home__slider_wrapper img {
    width: 100%;
    height: 100%;
}

/* custom swipper style  */

.custom__slider-btn {
    width: 27px;
    height: 36px;
    font-size: 2px;
    background-color: rgba(37, 41, 49, 0.5);
    color: #fff !important;
}

.swiper-button-next {
    right: -3px;
    border-radius: 30px 0px 0px 30px;
}

.swiper-button-prev {
    left: -3px;
    border-radius: 0px 30px 30px 0px;
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-size: 7px;
    font-weight: bold;
}

.swiper-button-next::after {
    margin-left: 4px;
}

.swiper-button-prev::after {
    margin-right: 4px;
}

@media (min-width: 728px) {
    section#home-slider {
        padding-top: 19px;
        padding-bottom: 5px;
    }
    .home__slider_wrapper {
        height: 173px;
    }
}

@media (min-width: 992px) {
    section#home-slider {
        padding-top: 0px;
        padding-bottom: 19px;
    }
    .home__slider_wrapper {
        height: 328px;
    }
    .custom__slider-btn {
        width: 36px;
        height: 48px;
    }
    .swiper-button-next::after, .swiper-button-prev::after {
        font-size: 10px;
    }
}

/*==============================
	Bootstrap custom dropdown
==============================*/

.dropdown-toggle::after {
    content: unset;
}

/*==============================
	header Profile dropdown
==============================*/

.dropdown-menu {
    font-size: 12px;
    line-height: 29px;
    transform: none !important;
    padding: 0;
    box-shadow: 0px 5px 15px rgb(0 0 0 / 14%);
}

.dropdown-menu ul li {
    margin: 0;
    display: block;
    padding: 3px 42px 3px 20px;
}

.dropdown-menu ul li a {
    color: #000;
    font-size: 12px;
    line-height: 29px;
}

.dropdown-menu.dropdown__profile {
    top: 45px !important;
    left: -146px !important;
}

.dropdown-menu.dropdown__profile ul {
    padding: 5px 0px;
}

.dropdown-menu.dropdown__profile::after {
    content: '';
    position: absolute;
    top: -10px;
    right: 0px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #fff;
}

@media (min-width: 992px) {
    .dropdown-menu.dropdown__profile {
        top: 56px !important;
        left: -137px !important;
    }
}

@media (min-width: 1200px) {
    .dropdown-menu.dropdown__profile {
        top: 63px !important;
    }
}

/*==============================
	Section
==============================*/

.section-pt {
    padding-top: 14px;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 13px;
}

.section-header .section-header__title h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 33x;
    margin-bottom: 0;
}

.section-header .section-header__action a {
    font-size: 10px;
    color: #000;
}

.section-header .section-header__action a.link-underline::before {
    background-color: #000;
    bottom: 1px;
}

@media (min-width: 992px) {
    .section-pt {
        padding-top: 17px;
    }
}

@media (min-width: 992px) {
    .section-pt {
        padding-top: 14px;
    }
    .section-header {
        padding-bottom: 14px;
    }
    .section-header .section-header__title h3 {
        font-size: 22px;
    }
    .section-header .section-header__action a {
        font-size: 13px;
    }
}

/*==============================
	Product Slider
==============================*/

section#product-slider {
    padding-top: 7px;
    padding-bottom: 7px;
}

@media (min-width: 768px) {
    section#product-slider {
        padding-top: 11px;
        /* padding-bottom: 7px; */
    }
}

@media (min-width: 992px) {
    section#product-slider {
        padding-top: 18px;
        /* padding-bottom: 7px; */
    }
}

/*==============================
	Product Card
==============================*/

/* .product__slider_wrapper {
    position: relative;
    min-height: 329px;
} */

.product-card {
    width: 100%;
    position: relative;
    padding: 10px 25px;
}

.product-card .card {
    border: none;
    display: flex;
    align-items: center;
}

.product-card .card .product-card__header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
}

.product-card .card .product-card__header .product-card__actions {
    position: absolute;
    top: 0;
    right: -12px;
    display: flex;
    flex-direction: column;
}

.product-card .card .product-card__header .product-card__actions a {
    display: block;
    margin-bottom: 5px;
}

.product-card .card .product-card__header .card__img {
    padding-top: 10px;
}

.product-card .card .product-card__header .card__img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.product-card .card .product-card__header .card__img img.__img_main {
    display: block;
}

.product-card .card .product-card__header .card__img img.__hover_img {
    display: none;
}

.product-card .card .product-card__header .card__stock-status {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10px;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.product-card .card .product-card__header .card__stock-status span.card__stock-text {
    line-height: 21px;
}

.product-card .card .product-card__header .card__stock-status .card__icon-wrap {
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 1px;
    margin-right: 6px;
    background-color: #8C8C8C;
}

.product-card .card .product-card__header .card__stock-status.in-stock {
    color: #78A962;
}

.product-card .card .product-card__header .card__stock-status.out-stock {
    color: #C94D3F;
}

.product-card .card .product-card__header .card__stock-status.in-stock .card__icon-wrap {
    background-color: #78A962;
}

.product-card .card .product-card__header .card__stock-status.out-stock .card__icon-wrap {
    background-color: #C94D3F;
}

.product-card .card .card-body {
    padding: 0;
}

.product-card .card .card-body .card-feedback {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.product-card .card .card-body .card-feedback .stars {
    display: flex;
    align-items: center;
}

.product-card .card .card-body .card-feedback .stars img {
    width: 9px;
}

.product-card .card .card-body .card-feedback .reviews {
    font-size: 10px;
    margin-left: 7px;
    line-height: 21px;
}

.product-card .card .card-body .card-text {
    font-size: 10px;
    line-height: 16px;
    margin-bottom: 13px;
    color: #000 !important;
}

.product-card .card .card-body .card__old-price {
    display: block;
    font-size: 12px;
    line-height: 140%;
    color: #666666;
    margin-bottom: 3px;
}

.product-card .card .card-body .card__price {
    display: block;
    font-size: 14px;
    line-height: 140%;
    color: #000;
    font-weight: bold;
}

.product-card .card .card-footer {
    background-color: inherit;
    border: 0;
    padding: 20px 0px 0px 0px;
    padding-bottom: 10px;
    font-size: 12px;
}

.product-card .card .card-footer .btn-custom-outline {
    font-size: 12px;
    font-weight: bold;
}

/* hover */

.product-card:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.14);
    cursor: pointer;
    margin-bottom: 5px;
}

.product-card:hover .product-card__actions {
    display: block !important;
}

.product-card:hover .card-footer {
    display: block !important;
}

.product__slider_wrapper:hover img.__img_main {
    display: none !important;
}

.product__slider_wrapper:hover img.__hover_img {
    display: block !important;
}

/* medium-size  */

.product-card .card.card-md .product-card__header {
    padding-top: 21px;
}

.product-card .card.card-md .product-card__header .card__img {
    padding-bottom: 5px;
}

.product-card .card.card-md .product-card__header .card__img img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.product-card .card.card-md .card-body .card-feedback .stars img {
    width: 13px;
}

.product-card .card.card-md .card-body .card-feedback .reviews {
    font-size: 12px;
    margin-left: 9px;
    line-height: 25px;
}

.product-card .card.card-md .card-body .card-text {
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 15px;
}

.product-card .card.card-md .card-body .card__old-price {
    font-size: 14px;
}

.product-card .card.card-md .card-body .card__price {
    font-size: 18px;
}

.product-card .card.card-md .card-footer .btn-custom-outline {
    font-size: 14px;
}

@media (max-width: 320px) {
    .product-card {
        padding: 10px 13px;
    }
    .product-card .card .product-card__header .card__stock-status {
        font-size: 9px;
    }
    .product-card .card .card-body .card-feedback .reviews {
        font-size: 8px;
    }
    .product-card .card .card-footer .btn-custom-outline {
        font-size: 7px;
    }
}

@media (min-width: 768px) {
    .product-card {
        padding: 10px 26px;
    }
    .product-card .card .product-card__header .card__img img {
        width: 150px;
        height: 150px;
    }
    .product-card .card .card-body .card-feedback .stars img {
        width: 13px;
    }
    .product-card .card .card-body .card-feedback .reviews {
        font-size: 12px;
        margin-left: 10px;
    }
    .product-card .card .card-body .card-text {
        font-size: 13px;
        margin-bottom: 15px;
    }
    .product-card .card .card-footer .btn-custom-outline {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    .product-card {
        padding: 10px 25px;
    }
    .product-card .card .card-body .card__old-price {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .product-card .card .card-body .card__price {
        font-size: 16px;
    }
    .product-card .card .product-card__header .product-card__actions {
        right: -10px;
    }
    .product-card .card .card-body .card-feedback {
        margin-bottom: 10px;
    }
    .product-card:hover .card-footer .btn-custom-outline {
        font-size: 14px;
    }
}

@media (min-width: 1200px) {
    .product-card {
        padding: 10px 20px;
    }
    .product-card .card .product-card__header .product-card__actions {
        right: -15px;
    }
    .product-card:hover .card-footer .btn-custom-outline {
        font-size: 11px;
    }
    .product-card .card.card-md .card-footer .btn-custom-outline {
        font-size: 11px;
    }
}

/*==============================
	Banner
==============================*/

.banner-wrapper {
    width: 100%;
    color: #272560;
    background-color: #F5F9FF;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.banner-wrapper .banner__img {
    width: 37px;
    margin-bottom: 6px;
}

.banner-wrapper .banner__img img {
    width: 100%;
    object-fit: cover;
}

.banner-wrapper span.vr {
    display: none;
}

.banner-wrapper .text {
    font-size: 12px;
    margin-bottom: 4px;
}

.banner-wrapper a {
    font-size: 14px;
    color: #272560;
}

.banner-wrapper a.link-underline::before {
    background-color: #272560;
    bottom: 0;
}

@media (min-width: 768px) {
    .banner-wrapper {
        padding: 21px 0px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .banner-wrapper .banner__img {
        width: 37px;
        margin-bottom: 0;
        margin-right: 11px;
    }
    .banner-wrapper span.vr {
        display: block;
        margin-right: 11px;
    }
    .banner-wrapper .text {
        font-size: 14px;
        margin-bottom: 0;
        margin-right: 12px;
    }
    .banner-wrapper a {
        font-size: 14px;
    }
    .banner-wrapper a.link-underline::before {
        bottom: 3px;
    }
}

@media (min-width: 1200px) {
    .banner-wrapper {
        padding: 24px 0px;
    }
    .banner-wrapper .banner__img {
        width: 77px;
        margin-bottom: 0;
        margin-right: 14px;
    }
    .banner-wrapper .text {
        font-size: 18px;
        margin-bottom: 0;
        margin-right: 5px;
    }
}

/*==============================
	Content
==============================*/

section#content {
    padding-top: 14px;
}

.content-banner {
    color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    letter-spacing: .5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-banner .content-banner__title {
    padding-top: 15px;
    padding-bottom: 14px;
}

.content-banner .content-banner__title h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 0;
}

.content-banner .content-banner__action {
    font-size: 12px;
    line-height: 14px;
}

.content-banner .content-banner__action a {
    color: #fff;
    /* padding-top: 5px; */
    padding-bottom: 16px;
}

.content-banner .content-banner__action a.link-underline::before {
    background-color: #fff;
    bottom: 17px;
}

.content-banner__mobile {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* extra width */

/* only mobile */

.col-half-offset {
    margin-left: 4.166666667%
}

.content-items {}

.swiper-container.content-items {
    overflow: hidden;
}

@media only screen and (max-width: 767px) {
    .swiper-container.content-items {
        overflow: inherit;
    }
    .swiper-container.content-items .swiper-slide {
        width: 65% !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .swiper-container.content-items {
        overflow: inherit !important;
    }
    /* .swiper-container.content-items .swiper-slide {
        width: 45% !important;
    } */
}

@media (min-width: 768px) {
    .content-banner__mobile {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .content-banner {
        height: 100%;
        cursor: pointer;
    }
    .content-banner .content-banner__title {
        padding: 40px;
    }
    .content-banner .content-banner__action {
        position: absolute;
        bottom: 30px;
    }
}

/*==============================
	Content Nav Tab
==============================*/

.content-nav-tab {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    color: #838383;
    padding-top: 5px;
}

.content-nav-tab .nav-item {
    display: inline-block;
    margin-right: 16px;
    padding-bottom: 14px;
}

.content-nav-tab .nav-item span {
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.content-nav-tab .nav-item.active span {
    color: #000;
    border-bottom: 2px solid #0156FF;
}

@media (min-width: 728px) {
    .content-nav-tab .nav-item {
        margin-right: 19px;
    }
}

@media (min-width: 1200px) {
    .content-nav-tab {
        font-size: 16px;
    }
    .content-nav-tab .nav-item {
        margin-right: 25px;
    }
}

/*==============================
	Nav Tab (customized)
==============================*/

.custom-nav-tab {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    border: none;
}

.custom-nav-tab .nav-item {
    margin-right: 16px;
    margin-bottom: 14px;
}

.custom-nav-tab .nav-item .nav-link {
    color: #838383;
    border: none;
    padding: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.custom-nav-tab .nav-item .nav-link.active {
    color: #000;
    border-bottom: 2px solid #0156FF;
}

@media (min-width: 728px) {
    .custom-nav-tab .nav-item {
        margin-right: 19px;
    }
}

@media (min-width: 1200px) {
    .custom-nav-tab {
        font-size: 16px;
    }
    .custom-nav-tab .nav-item {
        margin-right: 25px;
    }
}

/*==============================
	Grid for 7 col
==============================*/

@media (min-width: 768px) {
    .seven-cols .col-md-1, .seven-cols .col-sm-1, .seven-cols .col-lg-1 {
        width: 100%;
        *width: 100%;
    }
}

@media (min-width: 992px) {
    .seven-cols .col-md-1, .seven-cols .col-sm-1, .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
        max-width: 14.285714285714285714285714285714% !important;
        flex: none !important;
    }
}

@media (min-width: 1200px) {
    .seven-cols .col-md-1, .seven-cols .col-sm-1, .seven-cols .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
        max-width: 14.285714285714285714285714285714% !important;
        flex: none !important;
    }
}

/*==============================
	Brands
==============================*/

section#brands {
    padding-top: 15px;
}

.brand-img__wrapper {
    position: relative;
    padding: 25px 23px;
}

.brand-img__wrapper img {
    width: 100%;
}

.brand-img__wrapper img.brand__img_main {
    display: block;
}

.brand-img__wrapper img.brand__hover_img {
    display: none;
}

.brand__overlay {
    background: #EBEBEB;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

.brand-img__wrapper:hover .brand__overlay {
    opacity: .5;
}

.brand-img__wrapper:hover img.brand__img_main {
    display: none !important;
}

.brand-img__wrapper:hover img.brand__hover_img {
    display: block !important;
}

@media (min-width: 768px) {
    .brand-img__wrapper {
        padding: 35px 24px;
    }
}

@media (min-width: 1200px) {
    .brand-img__wrapper {
        padding: 35px 24px;
    }
}

/*==============================
	Features Card
==============================*/

section#features {
    padding-top: 5px;
    padding-bottom: 25px;
}

.features-card {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
    margin-top: 21px;
}

.features-card img {
    width: 45px;
    height: 45px;
    margin-bottom: 7px;
}

.features-card h2 {
    font-weight: bold;
    font-size: 14px;
    line-height: 132.5%;
    margin-bottom: 5px;
}

.features-card p {
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    section#features {
        padding-top: 30px;
    }
    .features-card {
        padding: 0px 10px;
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    section#features {
        padding-top: 60px;
    }
    .features-card {
        padding: 0px 30px;
    }
    .features-card img {
        width: 65px;
        height: 65px;
        margin-bottom: 25px;
    }
    .features-card h2 {
        font-size: 18px;
        margin-bottom: 13px;
    }
    .features-card p {
        font-size: 14px;
    }
}

/*==============================
	Instagram Posts
==============================*/

section#instagram-posts {
    padding-top: 43px;
}

.instagram-post__card {
    margin-bottom: 20px;
    cursor: pointer;
}

.instagram-post__card .card {
    border: 0;
    text-align: center;
}

.instagram-post__card .card .card-body {
    padding: 10px 5px;
}

.instagram-post__card .card .card-body p.card-text {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
}

.instagram-post__card .card .card-body p.text-muted {
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 0;
}

/*==============================
	Testimonial
==============================*/

section#testimonial {
    padding-top: 15px;
}

.testimonial-box {
    padding: 25px 12px 27px 19px;
    background-color: #F5F9FF;
}

.testimonial-box .testimonial__body {
    position: relative;
    padding-left: 41px;
    padding-bottom: 10px;
    color: #000000
}

.testimonial-box .testimonial__body::before {
    content: '‘’';
    position: absolute;
    top: -15px;
    left: 0;
    font-size: 52px;
    line-height: 78px;
}

.testimonial-box .testimonial__body p.item__text {
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 19px;
}

.testimonial-box .testimonial__body p.item__author {
    margin-bottom: 5px;
    text-align: right;
    font-size: 10px;
    line-height: 15px;
}

.testimonial-box .testimonial__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.testimonial-box .testimonial__footer a {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
}

.testimonial__footer .swiper-pagination {
    right: 0;
}

.testimonial__footer .swiper-pagination span {
    width: 9px;
    height: 9px;
    margin-left: 8px;
}

/* .swiper-pagination-bullet {
    background-color: #CCCCCC !important;
    background: #CCCCCC !important;
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff !important;
    border: 0;
} */

@media (min-width: 768px) {
    section#testimonial {
        padding-top: 17px;
    }
    .testimonial-box {
        padding: 34px 42px 29px 19px;
    }
    .testimonial-box .testimonial__body p.item__text {
        margin-bottom: 10px;
    }
}

@media (min-width: 1200px) {
    section#testimonial {
        padding-top: 57px;
    }
    .testimonial-box {
        padding: 49px 119px 56px 119px;
    }
    .testimonial-box .testimonial__body {
        padding-left: 72px;
        padding-bottom: 22px;
    }
    .testimonial-box .testimonial__body::before {
        content: '‘’';
        position: absolute;
        top: -30px;
        left: 0;
        font-size: 96px;
        line-height: 144px;
    }
    .testimonial-box .testimonial__body p.item__text {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 27px;
    }
    .testimonial-box .testimonial__body p.item__author {
        font-size: 14px;
        line-height: 21px;
    }
    .testimonial__footer .swiper-pagination span {
        width: 12px;
        height: 12px;
        margin-left: 10px;
    }
}

/*==============================
	Footer
==============================*/

.footer {
    height: 300px;
    padding-top: 47px;
    color: #fff;
    background-color: #020203;
}

.footer__bottom {
    font-size: 12px;
}

@media (min-width: 768px) {}

@media (min-width: 1200px) {
    .footer {
        margin-top: 45px;
    }
}